div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}

.relative {
    position: relative;
    left: 30px;
    margin-left: 10px;
}

.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.absolute {
    position:absolute;
    top: 0px;
}

.sticky {
    position: sticky;
    top: 0px;
}