body {
    padding: 20px;
    margin: 0;
}

.escenario1 {
    width: 100%;
}

.escenario2 {
    width: 50%;
}

.escenario {
    margin: 10px 0px;
    border: 1px solid #ccc;
    padding: 10px;
}

.px{
    background-color: darkgray;
    width: 200px;
}

.porcentaje {
    background-color: cadetblue;
    width: 50%;
}

.view {
    background-color: aquamarine;
    width: 50vw;
}